body{
    background-color: #E8F7FA;
    font-family: 'Open Sans', sans-serif;
}



.main-content{
    /*margin-top: 225px;*/
}
/*------------------------------------*\
  #Title
\*------------------------------------*/


.fts-container{
    padding: 0 30px;
}

.main-title{
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    margin-bottom: 40px;

}

.title-filter{
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

/*------------------------------------*\
  #Title
\*------------------------------------*/


/*.select_container {*/
    /*position:relative;*/
    /*height: 20px;*/
    /*!*border: 1px solid #C8C8C8;*!*/
    /*background: none repeat scroll 0 0 #FFFFFF;*/
/*}*/

/*.select_container .arrow {*/
    /*background:#FFFFFF url('http://i.imgur.com/XK0DUOO.png') center center no-repeat;*/
    /*height:20px;*/
    /*width:20px;*/
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/
    /*pointer-events:none;*/
    /*cursor:pointer;*/
/*}*/

/*select {*/
    /*color: #414141;*/
    /*outline: 0 none;*/
    /*border:0;*/
    /*padding-left: 10px;*/
    /*width:100%;*/
    /*-webkit-appearance:none;*/
    /*-webkit-border-radius: 0px;*/
    /*background:#FFFFFF;*/
    /*cursor:pointer;*/
/*}*/


/*------------------------------------*\
  #Title
\*------------------------------------*/



/*------------------------------------*\
  #Title
\*------------------------------------*/

.btn-filter{
    background-color: #FFEF00;
    color: #6967CE;
    margin-top: 18px;
    padding: 6px 32px;
    transition: background-color 0.5s ease;
}

.btn-filter:focus,.btn-filter:visited,.btn-filter:active,.btn-filter:hover{
    background-color: #ccc00d;
    color: #6967CE;
}


/*------------------------------------*\
  #Filter data
\*------------------------------------*/
.filter-data{
    /* bg_header: */
    background-image: linear-gradient(-175deg, #834AFF 0%, #634CDA 61%, #634CDA 61%, #4F4DC2 100%);
    box-shadow: 0 1px 20px 0 #4F4DA7;
    padding: 20px 0 72px 0;
    position: relative;
    /*position: fixed;*/
    top: 0;
    width: 100%;
}

@media screen and (max-width: 768px){
    .filter-selects,.filter-radios div:nth-child(2){
        margin-bottom: 5px;
    }

    .filter-selects div[class^="col"]{
        margin-bottom: 30px;
    }

}

.chart-type{
    list-style: none;
    margin: 20px 0;
    padding: 0;

}

.chart-type li{
     display: inline-block;
     margin: 0 10px;

 }

.chart-type li a{
    text-transform: uppercase;
   font-size: 12px;
    font-weight: 700;

}

/*------------------------------------*\
  #Select box
\*------------------------------------*/


.select2{
    width: 100%;
}

.select_container{
    background-color: transparent;
}

.select2-selection{
    border: none !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #fff;
    font-weight: 300;
}


/*------------------------------------*\
  #Switch
\*------------------------------------*/

.switch-box{
    display: flex;
    justify-content: flex-start;
}

.switch-box > span{
    color: #fff;
    font-size: 14px;
    font-weight:300;
}

.toggle-bg {
    position: relative;
    display: block;
    width: 33px;
    height: 16px;
    background: #CFB8FF;
    /*border: 1px solid #BEE4F0;*/
    /*margin: 0 auto 1em auto;*/
    margin: 0 5px;
    border-radius: 1em;
}

.toggle-bg span {
   color: #fff;
}

.toggle-bg input {
    position: absolute;
    z-index: 2; /*  input to be over the .switch*/
    left: 0;

    /*IE fixes*/
    zoom: 1;
    width: 70px;
    height: 28px;
    margin: 0; /* Reset the margins and padding */
    padding: 0;
    cursor: pointer;
    opacity: 0; /* Hide the actual input */
    filter: alpha(opacity=0);
}

.toggle-bg input:focus + label {
    padding-bottom: 5px;
    border-bottom: 2px solid darken(#272b40, 8);
}

.toggle-bg .option2,.toggle-bg .option1{
    color: #fff;
    position: absolute;
    font-size: 12px;

}

.toggle-bg .option2 {
    left: 45px;
    bottom: 1px;
}

.toggle-bg .option1 {
    left: -80px;
    bottom: 1px;
}



.switch {
    background: #fff;
    position: relative;
    z-index: 1;
    top: 2px;
    left: 4px;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 1.5em;
    transition: all, .2s, ease-out;
}

.toggle-bg .move-toggle {
    left: 54%; /* toggle position for right radio */
}

.toggle-bg input.active {
    z-index: 0;
}

/*.wrap{*/
    /*position: fixed;*/
    /*width:100%;*/
/*}*/

.glyphicon{
    color: #fff;
    font-size: 12px;
    padding-top: 6px;
}

.no-data{
    color: #a9a8a8;
    margin-top: 40px;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    /*top: 0;*/
    z-index: 10000;
}